.grid {
    align-content: center;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    margin-left: 50px;
    margin-top: 20px;
    border: 5px solid #black;
    margin-bottom: 10px;
}

div { /*grid divisions*/
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 25px;
    font-family: 'Arial Black', monospace;
}

.free {
    border: 2px solid;
    border-color: silver;
    box-sizing: border-box;
}

.checked {
    background-color: #f0f8ff;
}

.mine {
    border: 2px solid;
    border-color: silver;
    box-sizing: border-box;
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: orange;
}

.four {
    color: red;
}

.five {
    color: blue;
}

.six {
    color: green;
}

.seven {
    color: orange;
}

.eight {
    color: red;
}
.answermine {
    background-color: gold;
}

.foundmine {
    background-color: lightgreen;
}

.falsemine {
    background-color: indianred;
}

.exploded {
    background-color: crimson;
}